{% extends "site_page.html" %}

{% block view_content %}
<script>
    $(document).ready(function(){
        $(".tape-filter").change(function(){
            var formData = {
                media_type: [],
                location: [],
            };

            $(".media-filter").each(function(item, index) {
                if (index.checked) {
                    formData['media_type'].push(index.tabIndex);
                }
            });

            $(".location-filter").each(function(item, index) {
                if (index.checked) {
                    formData['location'].push(index.tabIndex);
                }
            });

            sendPostRequest("/tapes/", formData, 'zobbo');
        });

        $("#tape-search").on("keyup", function(event){
            console.log("Event: " + $("#tape-search").val());
        });
    });
</script>

<h1>Tapes</h1>
{% if object_list %}
<div class="container">
    <div class="row">
        <form method="post" onsubmit="event.preventDefault();">
            {% csrf_token %}
            Filters: 
            <span>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="mediaFilterButton" data-bs-toggle="dropdown" aria-expanded="false">
                    Media Type
                </button>
                <ul class="dropdown-menu" aria-labelledby="mediaFilterButton">
                    {% for media in media_list %}
                        <li class="dropdown-item">
                            <input type="checkbox" class="tape-filter media-filter" id="ml-{{ media.id }}" tabindex="{{ media.id }}">
                            <i class="form-icon"></i> {{ media.name }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            </span><span>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="mediaLocationButton" data-bs-toggle="dropdown" aria-expanded="false">
                    Location
                </button>
                <ul class="dropdown-menu" aria-labelledby="mediaLocationButton">
                    {% for location in locations_list %}
                        <li class="dropdown-item">
                            <input type="checkbox" class="tape-filter location-filter" id="locn-{{ location.id }}" tabindex="{{ location.id }}">
                            <i class="form-icon"></i> {{ location.name }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            </span><span>
            <div class="view-search">
                    <input type="text" id="tape-search" placeholder="Search tape labels">
            </div>
            </span>
        </form>
    </div>
</div>
<div id="zobbo">
    {% include 'Doo/tape_list_ajax.html' %}
</div>
{% else %}
No tapes yet.
{% endif %}
{% endblock %}